aiomysql==0.3.2
asyncpg==0.30.0
bcrypt==5.0.0
email-validator==2.3.0
fastapi==0.121.2
h2==4.3.0
jwt==1.4.0
pandas==2.3.3
passlib==1.7.4
pillow==12.0.0
pip==25.3
pydantic-settings==2.12.0
sentencepiece==0.2.1
setuptools==80.9.0
SQLAlchemy==2.0.44
torch==2.9.1
transformers==4.57.1
uvicorn==0.38.0
wheel==0.45.1
